<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="FastAPI API" stopProcessing="true">
          <match url="^(api/.*|openapi\.json)$" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8000/{R:0}"
          />
        </rule>

        <rule name="React SPA" stopProcessing="true">
          <match url=".*" />

          <conditions logicalGrouping="MatchAll">
            <add
              input="{REQUEST_FILENAME}"
              matchType="IsFile"
              negate="true"
            />

            <add
              input="{REQUEST_FILENAME}"
              matchType="IsDirectory"
              negate="true"
            />
          </conditions>

          <action
            type="Rewrite"
            url="/index.html"
          />
        </rule>

      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap
        fileExtension=".json"
        mimeType="application/json"
      />
    </staticContent>

  </system.webServer>
</configuration>